/*

Add styles or override variables from the theme here.

*/

// $primary:#6abd45;
// $primary: #19a586;
// $link-color: green;

$primary: #663399;

.body {
    color: #3b454a;
}

.bgGrayGradient {
    background: linear-gradient(
        135deg,#dde5e9 0,#f8f9fa 100%);
        background-image: linear-gradient(
            135deg, rgb(221, 229, 233) 0px, rgb(248, 249, 250) 100%);
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
}

.bgBlueGreenGradient:before {
    background: linear-gradient(to right,#31739c,rgba(0,0,0,0));
        background-image: linear-gradient(to right, rgb(49, 115, 156), rgba(0, 0, 0, 0));
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
    width: 80%;
    height: 150%;
    top: -45%;
    left: -2%;
}

.bgBlueGreenGradient:after, .bgBlueGreenGradient:before {
    content: "";
    position: absolute;
    z-index: 0;
}

.callToActionOrange.largeCta {
    background: #c24f20;
        background-image: linear-gradient(rgb(194, 79, 32) 0px, rgb(228, 83, 23) 100%);
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat-x: initial;
        background-repeat-y: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
    background: linear-gradient(to bottom,#c24f20 0,#e45317 100%);
        background-image: linear-gradient(rgb(194, 79, 32) 0px, rgb(228, 83, 23) 100%);
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat-x: initial;
        background-repeat-y: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: initial;
}
